/Library
/CavesEtVarans-csharp.sln
/Assembly-CSharp.csproj
/Assembly-CSharp.pidb
/Assembly-CSharp-vs.csproj
/CavesEtVarans.sln
/CavesEtVarans.userprefs
/Temp
#Un-ignore these specific files
!**.*.meta

#ignore eclipse scrap
.project
.settings
*.build

#ignore visual studio scrap
/obj
*.suo

