/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
/Caves et Varans.CSharp.csproj
/Caves et Varans.CSharp.Editor.csproj
/Caves et Varans.CSharp.Plugins.csproj
/Caves et Varans.sln
/Library
/obj
/Build
/.vs
/Temp
/CavesEtVarans.sln
/CavesEtVarans.CSharp.csproj
/CavesEtVarans.CSharp.Editor.csproj
/CavesEtVarans.CSharp.Plugins.csproj
