#Ignore everything :
CavesEtVarans/
#Except C# files in the CavesEtVarans project and its subfolders.
!CavesEtVarans/CavesEtVarans/
!CavesEtVarans/CavesEtVarans/*.cs
!CavesEtVarans/CavesEtVarans/*/
!CavesEtVarans/CavesEtVarans/*/*.cs
!CavesEtVarans/CavesEtVarans/*/*/
!CavesEtVarans/CavesEtVarans/*/*/*.cs
!CavesEtVarans/CavesEtVarans/*/*/*/
!CavesEtVarans/CavesEtVarans/*/*/*/*.cs
!CavesEtVarans/CavesEtVarans/*/*/*/*/
!CavesEtVarans/CavesEtVarans/*/*/*/*/*.cs
!CavesEtVarans/CavesEtVarans/*/*/*/*/*/
!CavesEtVarans/CavesEtVarans/*/*/*/*/*/*.cs
!CavesEtVarans/CavesEtVarans/*/*/*/*/*/*/
!CavesEtVarans/CavesEtVarans/*/*/*/*/*/*/*.cs
!CavesEtVarans/CavesEtVarans/*/*/*/*/*/*/*/
!CavesEtVarans/CavesEtVarans/*/*/*/*/*/*/*/*.cs
!CavesEtVarans/CavesEtVarans/*/*/*/*/*/*/*/*/
!CavesEtVarans/CavesEtVarans/*/*/*/*/*/*/*/*/*.cs